<!-- <div class="jumbotron jumbotron-fluid">
    <h1>Bucu with us!</h1>
</div> -->
<div class="container">
    <h1 class="sectionName">Empowerment Events Calendar</h1>
    <div id="calendar"></div>
<!-- <div class="calendar"></div> -->




</div>

<div class="jumbotron jumbotron-fluid">
    <div class="d-flex justify-content-around">
         <div class="p-2"><strong> Developer Community:</strong> Be The Game Changer </div>
         <div class="p-2"><img class="img-rounded" src="/assets/help.png" alt=""> </div>
         <div class="p-2" ><a href="https://elva316.github.io/" >The site is make by Elva</a> </div>
       </div>
</div>
