<div class="container">
    <div class="row">
  <div class="col-md-8">
    <p class="content">
      <strong>Welcome</strong>
      to the Great Pond Yacht Club women’s learn-to-sail program. This program is designed to give women the tools and
      know-how to sail with confidence in whatever capacity they choose. </p>
    <p class="content">
      <strong>Mentorship</strong>
      The pressure-free mentor approach and flexible schedule will give you the freedom to set your own learning pace.
      The sailing mentors (captains) are GPYC members that look forward to getting to know you and helping you learn;
      whether your goals are to become a comfortable mate or to take the helm and captain your first race. We can help!</p>
  </div>
  <div class="col-md-4">
    <div class="imgAbt">
      <img width="300" height="300" src="/assets/girl1.jpg" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="content">
      <strong>How it works</strong>
      All potential students first create a profile with basic information. There is no commitment to sail at this time.
      However, to sign up for a sail, all students must first have a WSP profile and a corresponding profile code.</p>
    <p class="content">
      <strong>Captains</strong>
      The captains are your mentors and are offering the sailing instruction on the day and time listed on the events calendar.
    </p>
  </div>

  <div class="col-md-4">
    <div class="imgAbt">
      <img width="300" height="300" src="/assets/girl3.png" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="content">
      <strong>Events Calendar</strong>
      On our events calendar you will see boat names on certain dates with a time frame. Clicking on the boat name will
      take you to a message from the captain with information about the boat you would be on, appropriate skill level
      for this sail if any, how many students she/he can accommodate, pick up and drop off location, and contact information
      to sign up or ask questions.</p>
    <p class="content">
      <strong>Request a Captain</strong>
      Students may also put a request for a captain on the calendar. Just click on the day number within the calendar that
      you are hoping to sail. For example, if you are hoping to sail on Tuesday, July 9…click on the number 9 and a drop
      down list will appear. Click on Request for Captain. The calendar will then ask for your profile code and the time
      frame you are hoping for and populate the calendar accordingly. Captains will be alerted there is a request and
      if available, they will contact you. </p>
  </div>
  <div class="col-md-4">
    <div class="imgAbt">
      <img width="300" height="300" src="/assets/girl2.png" />
    </div>
  </div>
</div>
</div>
