<!-- <div class="wrapper"> -->
<div class="jumbotron jumbotron-fluid paral paralsec">
    <div class="centering">
        <h1 class="display-3">Code Like A Girl</h1>
        <button type="button"  class="btn btn-outline-light btn-lg" ><h2>Event Calendar</h2></button>
        <button type="button"  class="btn btn-outline-light btn-lg" ><h2>Jump to Login</h2> </button>
        <button id="testting">test</button>
    </div>
</div>

<div class="jumbotron j2 jumbotron-fluid">
    <h1>Bucu with us!</h1>
</div>
<a id="return-to-top" (click)="arrowClick($event)">
    <!-- <img src="../../assets/arrow_up.svg" alt=""> -->
</a>
